/* colors
darkblue:	hsl(228,30%,17%);
lightblue:	hsl(222,71%,48%);
brown:		hsl(39,43%,56%);
grey:		hsl(36,16%,94%);
white:		hsl(0,0%,100%);
*/

@font-face {
	font-family: SourceSerif;
	src: url(vendor/SourceSerifPro-Regular.ttf);
}

/* general regions */

html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	background-color: hsl(228, 30%, 17%);
	/*color: hsl(0, 0%, 100%);*/
	font-size: 95%;
	font-family: SourceSerif;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.head_foot {
	background-color: hsl(228, 30%, 17%);
	width: 100%;
	min-height: 90px;
	text-align: center;
	color: hsl(0, 0%, 100%);
	display: flex;
	flex-direction: row;
	align-items: center;
}

.head_foot_block {
	display: flex;
	align-items: center;
	flex-grow: 1;
}

.head_foot_block.left {
	padding-left: 20px;
	justify-content: left
}

.head_foot_block.right {
	padding-right: 20px;
	justify-content: right
}

.head_foot_block.center {
	justify-content: center
}

.head_foot a {
	color: #ffffff;
}


/* general texts */

a {
	text-decoration: none;
	/*	color: hsl(197,100%,44%); */
	color: hsl(39, 43%, 40%);
}

h1, h2 {
	text-align: center;
}

h2, h3, h4, p {
	margin: 5px;
}

ul {
	margin: 2px;
}

input {
	font-family: SourceSerif;
	font-size: 95%;
}

/* images */
.flag, .icon {
	height: 15px;
	padding: 2px;
}

.logo {
	height: 30px;
	padding: 5px
}

/* infobox elements */

.aktiv, .pasiv {
	height: 25px;
	line-height: 25px;
	padding: 0 4px;
	border-left: 1px solid #cccccc;
	display: inline-block;
}

.aktiv {
	background-color: hsl(197, 100%, 25%);
	color: #ffffff;
	font-weight: bold;
}

.pasiv {
	background-color: #ffffff;
	color: hsl(197, 100%, 25%);
	cursor: pointer;
}

/* map elemens */
.link {
	color: hsl(197, 100%, 44%);
	cursor: pointer;
}

.bold {
	font-weight: 900;
	color: hsl(197, 100%, 25%);
}

.content-wrap {
	display: flex;
	width: 100%;
	background-color: hsl(197, 35%, 90%);
}

.tab-popis {
	display: flex;
	flex-direction: column;
	padding: 10px;
	background-color: hsl(197, 100%, 98%);
	font-size: 80%;
	color: hsl(197, 100%, 25%);
	margin: 5px 0px 0px 0px;
}

.selection {
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-left: 0px;
	background-clip: padding-box;
	display: inline-block;
	margin: 5px 0px;
}

#map, #view_list {
	height: 100%;
	font-family: SourceSerif;
}

#list {
	min-height: 500px;
	margin-top: 15px;
	column-count: 4;
	padding: 2px;
}